body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title{
    font-family:  'Questrial', sans-serif ;
    color: #6C3483   ;
}

.title{
    font-family:  'Questrial', sans-serif ;
    text-align: center;
    padding: 10px;
}

.input-new-list{
    width: 80%;
    height: 40px;
    border-radius: 10px;
}

.btn-create-list{
    background-color: #3498DB;
    color: aliceblue;
    border-radius: 10px;
    height: 60px;
    width: 15%;
    font-weight: bold;
    font-family: 'Questrial', sans-serif ;
}
.btn-create-list:hover{
    background: #2ECC71 ;
    border:solid black;
}

.line-horizontal {
  height: 5px;
  background-color: black;
}

.name-list{
    font-size: 25px;
    font-family:'Questrial', sans-serif ;
    font-weight: bold;
    padding: 0 20px;
    color: #0A16A5;
}

.btn-delete-list{
    background-color: #F4D03F ;
    color: aliceblue;
    border-radius: 10px;
    height: 77px;
    width: 10%;
    font-weight: bold;
    font-family: 'Questrial', sans-serif ;
}
.btn-delete-list:hover{
    background: red;
    border:solid black;
}

.input-create-task{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn-create-task{
    background-color: #3498DB;
    color: aliceblue;
    border-radius: 10px;
    height: 60px;
    width: 12%;
    font-weight: bold;
    font-family: 'Questrial', sans-serif ;
}
.btn-create-task:hover{
    background: #2ECC71;
    border:solid black;
}

.btn-edit-task{
    height: 60px;
    width: 80px;
    margin: 5px;
    background-color: #083A90;
    color: azure;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Questrial', sans-serif ;
}
.btn-edit-task:hover{
    background: #2ECC71;
    border:solid black;
}

.btn-delete-task{
    height: 60px;
    width: 80px;
    margin: 5px;
    background-color: #F4D03F ;
    color: azure;
    border-radius: 5px;
    font-weight: bold;
}
.btn-delete-task:hover{
    background: red;
    border:solid black;
}
.id-task{
    font-family: 'Questrial', sans-serif ;
    font-weight: bold;
}

.description-task{
    font-family: 'Questrial', sans-serif ;
    font-weight: bold;
    font-size: 30px;
}
.table-tasks table{
    background-color: #6C3483;
}
